name: Deploy Newsfeed to GitHub Pages

on:
  push:
    branches: [ main ]

permissions:
  contents: write
  pages: write
  id-token: write

jobs:
  deploy:
    runs-on: ubuntu-latest
    
    steps:
    - name: Checkout code
      uses: actions/checkout@v3
    
    - name: Setup Pages
      uses: actions/configure-pages@v3
    
    - name: Upload to Pages
      uses: actions/upload-pages-artifact@v2
      with:
        path: '.'  # Всё из корня проекта
    
    - name: Deploy to GitHub Pages
      uses: actions/deploy-pages@v2